asgiref==3.5.2
autopep8==1.7.0
backports.zoneinfo==0.2.1
comtypes==1.1.14
DateTime==4.7
Django==4.1.1
gunicorn==20.1.0
numpy==1.23.3
Pillow==9.2.0
PyAudio==0.2.12
pycodestyle==2.9.1
pypiwin32==223
pyttsx3==2.90
pytz==2022.4
pywin32==304
SpeechRecognition==3.8.1
sqlparse==0.4.2
subprocess.run==0.0.8
toml==0.10.2
tzdata==2022.2
whitenoise==6.2.0
zope.interface==5.4.0
